# CODE X - Apache Server Configuration
DirectoryIndex index.php index.html

# Prevent Directory Browsing
Options -Indexes

# UTF-8 Encoding
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nachoka/
</IfModule>
